.about-section {
  padding: 15rem 0;
}

.about-section .section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-image-box img {
  box-shadow: 0px 18px 0px -10px white, 0px 18px 0px -8px var(--blue);
}

.about-text-box {
  align-self: center;
}

.about-text-box h1 {
  font-size: 4rem;
  line-height: 4.9rem;
  color: black;
}

.about-text-box p {
  margin: 3.8rem 0 4.8rem 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 160%;
  color: var(--blue);
}

.about.btn-more {
  border: 1px solid var(--red);
}

.about.btn-more span {
  color: var(--red);
}

.about.btn-more svg {
  fill: var(--red);
}

@media (hover: hover) {
  .about.btn-more:hover {
    background-color: var(--red);
  }

  .about.btn-more:hover span {
    color: white;
  }

  .about.btn-more:hover svg {
    fill: white;
  }
}

@media (max-width: 1440px) {
  .about-image-box img {
    width: 82%;
  }

  .about-text-box h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1366px) {
  .about-image-box img {
    width: 78%;
  }

  .about-text-box h1 {
    font-size: 3rem;
  }

  .about-text-box p {
    margin: 3rem 0 4rem 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .about-section .section-container {
    grid-template-columns: 1fr 1.2fr;
  }

  .about-text-box {
    margin-left: -2rem;
  }

  .about-text-box p {
    margin: 2rem 0 3rem 0;
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .about-section {
    padding: 8rem 0;
  }

  .about-section .section-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5rem;
  }

  .about-text-box {
    margin-left: 0;
  }

  .about-image-box img {
    width: 40%;
    margin: 0 auto;
  }

  .about-text-box {
    text-align: center;
    width: 70%;
  }
}

@media (max-width: 850px) {
  .about-text-box h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  .about-text-box {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .about-text-box {
    width: 90%;
  }
}
