.btn-more {
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
  transition: all 0.2s;

  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.btn-more span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 160%;
}
