footer {
  padding: 8rem 0 7rem 0;
  background-color: var(--blue);
}

footer .section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.footer-logo-wrapper p {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.7rem;
  text-transform: lowercase;
  color: white;
}

.copyright-text {
  margin-top: 3.6rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  color: white;
  opacity: 0.7;
}

.footer-nav-links {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.footer-nav-links li {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: white;
  transition: all 0.2s;
}

.social-media-links {
  margin-top: 4.2rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-media-links img {
  filter: invert(1);
  transition: all 0.2s;
  cursor: pointer;
}

.footer-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer-form input,
.footer-form textarea {
  padding: 1.4rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 1.4rem;
  line-height: 1.7rem;
  outline: none;
  border-radius: 0.8rem;
  background-color: transparent;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer-textarea-box {
  position: relative;
  grid-column: 1 / -1;
}

.footer-form textarea {
  width: 100%;
  height: 12rem;
  padding: 2rem 11rem 2rem 2rem;
  resize: none;
}

.footer-textarea-box button {
  padding: 1rem 1.8rem;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 160%;
  background-color: var(--red);
  border-radius: 0.8rem;
  position: absolute;
  right: 2rem;
  bottom: 2.3rem;
  cursor: pointer;
}

.footer-form input:focus,
.footer-form textarea:focus {
  border: 1px solid var(--red);
}

@media (hover: hover) {
  .footer-nav-links li:hover {
    color: var(--red);
  }

  .social-media-links img:hover {
    filter: brightness(0) saturate(100%) invert(38%) sepia(81%) saturate(1245%)
      hue-rotate(330deg) brightness(100%) contrast(88%);
  }
}

@media (max-width: 1366px) {
  .footer-logo-wrapper {
    flex-direction: column;
  }

  .footer-nav-links {
    gap: 4rem;
  }

  .social-media-links {
    justify-content: center;
  }
}
