header {
  padding: 5.6rem 0;
}

header .section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-menu {
  display: none;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.company-name {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.7rem;
  text-transform: lowercase;
  color: var(--blue);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-links li {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--blue);
  position: relative;
  transition: all 0.2s;
}

.nav-links li::after {
  content: "";
  width: 2rem;
  height: 1px;
  background-color: var(--red);
  position: absolute;
  top: 130%;
  left: 50%;
  display: none;
  transform: translateX(-50%);
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  margin-right: -2rem;
  padding: 1.3rem 2rem 1.3rem 0;
  outline: none;
  border: none;
  caret-color: var(--red);
  border-bottom: 1px solid #eaecf0;
}

.nav-links li.active {
  color: var(--red);
}

.nav-links li.active::after {
  display: block;
}

.search-box input::placeholder {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--blue);
}

.search-box input:focus {
  border-bottom: 1px solid var(--red);
}

@media (hover: hover) {
  .nav-links li:hover {
    color: var(--red);
  }
}

@media (max-width: 1366px) {
  .nav-links {
    gap: 4rem;
  }
}

@media (max-width: 1200px) {
  .logo-box {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 1000px) {
  .company-name {
    display: none;
  }

  .nav-links li {
    font-size: 1.6rem;
  }
}

@media (max-width: 900px) {
  header {
    padding: 3rem 0;
  }

  .nav-links {
    gap: 3rem;
  }
}

@media (max-width: 850px) {
  .btn-menu {
    width: 4rem;
    display: block;
    cursor: pointer;
  }

  .logo-box {
    flex-direction: row;
  }

  .logo-box .logo {
    width: 3rem;
  }

  .company-name {
    display: block;
    font-size: 1.8rem;
  }

  .navigation,
  .menu-modal-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 10.6rem;
    left: -100%;
    transition: all 0.4s;
  }

  .slide-left {
    left: 0;
  }

  .nav-links {
    flex-direction: column;
    width: 30rem;
    padding: 3rem;
    margin: 2rem;
    background-color: white;
    border-radius: 0.8rem;
    position: relative;
    z-index: 10;
  }

  .menu-modal-bg {
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
  }
}

@media (max-width: 500px) {
  .logo-box {
    display: none;
  }
}
