.news-section {
  padding: 9.4rem 0 16rem 0;
  background-color: var(--gray);
  overflow: hidden;
}

.news-heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-arrows {
  display: flex;
  gap: 2rem;
}

.slider-arrows button {
  cursor: pointer;
}

.news-heading-box h1 {
  font-size: 4rem;
  line-height: 4.9rem;
  text-transform: uppercase;
  color: black;
}

.slider-container {
  width: 165rem;
  padding: 1.2rem 0;
  margin-top: 8.8rem;
  display: flex;
  gap: 5rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slider-arrows .disabled {
  opacity: 0.2;
}

@media (max-width: 1440px) {
  .news-heading-box h1 {
    font-size: 3.5rem;
  }

  .slider-container {
    width: 130rem;
    gap: 4rem;
  }
}

@media (max-width: 1366px) {
  .news-heading-box h1 {
    font-size: 3rem;
  }

  .slider-container {
    width: 124rem;
    gap: 3rem;
  }
}

@media (max-width: 1280px) {
  .slider-container {
    width: 120rem;
  }
}
