.services-section {
  padding: 9.4rem 0 15.6rem 0;
}

.services-heading {
  font-size: 4rem;
  line-height: 4.9rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-bottom: 9.6rem;
}

.services-container {
  max-width: 216rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.service-icon-wrapper {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  background-color: var(--gray);
  border-radius: 50%;
  box-shadow: 0px 20px 0px -8px #f0f1f1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-icon-wrapper:hover img {
  transition: all 0.2s;
}

.service-box p {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.1rem;
  text-align: center;
  color: black;
  margin-top: 4.8rem;
}

@media (hover: hover) {
  .service-icon-wrapper:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(81%) saturate(1245%)
      hue-rotate(330deg) brightness(100%) contrast(88%);
  }
}

@media (max-width: 1440px) {
  .services-heading {
    font-size: 3.5rem;
  }

  .service-box p {
    font-size: 3rem;
  }
}

@media (max-width: 1366px) {
  .services-heading {
    font-size: 3rem;
  }

  .service-icon-wrapper {
    width: 13rem;
    height: 13rem;
    box-shadow: 0px 18px 0px -6px #f0f1f1;
  }

  .service-box p {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .services-section {
    padding: 8rem 0 10rem 0;
  }

  .services-heading {
    font-size: 2.5rem;
  }

  .service-icon-wrapper {
    width: 13rem;
    height: 13rem;
    box-shadow: 0px 18px 0px -6px #f0f1f1;
  }

  .service-box p {
    font-size: 2rem;
  }
}

@media (max-width: 850px) {
  .services-section {
    padding: 8rem 0 10rem 0;
  }

  .services-heading {
    font-size: 2.5rem;
  }

  .service-icon-wrapper {
    width: 10rem;
    height: 10rem;
    box-shadow: 0px 10px 0px -2px #f0f1f1;
  }

  .service-icon-wrapper img {
    width: 4rem;
  }

  .service-box p {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .services-container {
    flex-direction: column;
    gap: 5rem;
  }

  .services-heading {
    margin-bottom: 5rem;
  }

  .service-box p {
    font-size: 1.6rem;
  }
}
