:root {
  --blue: #2b3252;
  --red: #ef5555;
  --gray: #f8f8fa;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.section-container {
  max-width: 146rem;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1440px) {
  .section-container {
    max-width: 124rem;
  }
}

@media (max-width: 1366px) {
  .section-container {
    max-width: 120rem;
  }
}
